<h1>Bills#new</h1>

<%= form_for @bill do |f| %>
  <div class="bill">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    <div class="yes">
      <%= f.label "Yes" %>
      <%= f.check_box :actual_vote, value: true %>
    </div>
    <%= f.label "No" %>
    <%= f.check_box :actual_vote, value: false %>
    <%= f.submit "Save" %>
  </div>
<% end %>
