<div class="log-in">
  <h3>Login</h3>
  <%= form_tag login_path do  %>

    <%= label_tag :email %>
    <%= email_field_tag :email, nil, id:"email"%>

    <%= label_tag :password %>
    <%= password_field_tag :password, nil, id:"password" %>

    <%= submit_tag'Log in', class: "btn btn-primary" %>
    <% if flash[:error] %>
      <div><%= flash[:error] %></div>
    <% end  %>
  <% end %>
</div>
